th {
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  text-align: center;
}

input {
  width: 50px;
  text-align: center;
}

.changed {
  background-color: #eefccc;
}

table
{
  width: 60%;
  margin: auto;
}

#instructions
{
  width:40%;
  margin: auto;
  margin-bottom: 20px;
  text-align:justify;
}

#buttons
{
  width: 50%;
  margin:auto;
  text-align: center;
}
